
@{
    Layout = null;
}

<!DOCTYPE html>

<h3> MVC Blog Tablo - Kategori  </h3>        
<br />
<table>


    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>hgh</td>
        <td>hghg</td>
        <td>hgh</td>
    </tr>
    <tr>
        <td>2</td>
        <td>hgh</td>
        <td>hghg</td>
        <td>hgh</td>
    </tr>
</table>